
  @font-face {
    font-family: FuturaPT;
    src: url("https://github.com/e2nguyen/Concept_A/tree/master/fonts/Futura/FuturaPT-Bold.ttf") format("truetype"),
         url("https://github.com/e2nguyen/Concept_A/tree/master/fonts/Futura/FuturaPT-Bold.woff") format("wofF");
  }

  * {
    padding: 0px;
  }

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  html {
    overflow-x: hidden; 
  }

  .navi {
     position: fixed;
     width: 100%;
     height: 47px;
     z-index: 2;
     background: #222;
     background: rgba(0,0,0,0.5);
  }

  .navi ul {
    list-style: none;
    float: right;
    width: 30%;
    height: 47px;
  }

  a {
    text-decoration: none;
  }
  
  .navi li {
    display: inline;
    float: left;  
    height: 47px;
    width: auto;
    margin-right: 37px;
  }

  .navi ul li a {
    position: relative;
    top: 40%;
    float: left;
    
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white;
    font: 9.6px 'Lato', sans-serif;
  }

  .navi li a:hover {
    color: rgb(249,34,78);
    transition: 0.26s;
    text-decoration: none;
  }

  .navLogo {
    position: relative;
    float: left;
    width: auto;
    margin: 8px 28px;

    text-transform: uppercase;
    font: 26px 'FuturaPT', sans-serif;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: white;
  }

  .navLogo:hover {
    color: yellowgreen;
    transition: 0.26s;
    text-decoration: none;
  }

  .navi li a:link, .navLogo:link {
    text-decoration: none;
  }

  header {
    float: left;
    width: 100%;
  }

  .mushu {
    position: relative;
    display: flex; /* clears whitespace btwn divs */
    font-size: 0; /* if flex unsupported */
    overflow: hidden; /* prevents video from overflowing viewport on play */
  }

  .mushu__video {
    /*position: static; */
    position: fixed; /*added for parallax*/
    width: 100vw;
    height: 100vh; /* 99.8 w/o parallax */
    background-size: contain;
    object-fit: cover;
  }

  .mushu h1 {
    position: fixed; /* parallax */
    top: 37%;
    left: 26%;
    font: calc(4vw + 4vh + 2vmin) 'Ubuntu', sans-serif; 
    color: white;
    z-index: 2;
    letter-spacing: 0.37em;
  }   


/* larger sized screens can play bg video, prevents poster image */ 
  #fallbackIMG {
    display: none;
  }

  .intro {
    position: relative;
    top: 100%; /*added for parallax*/
    z-index: 2; /* same*/
    background-color: rgba(0,0,0,0.87);
    padding: 2em 0;
  }

  #hey {
    width: 60%;
    margin: 0% auto;
    padding: 1.5% 0;

    color: #555;
    font: 60px 'FuturaPT', sans-serif;
    line-height: 1.25em;
    letter-spacing: 0.37em;
    text-align: center;
  }

  .about p {
    margin: 5% auto; 
    padding: 0% 20%;
    color: #555;
    font: 22px 'Zilla Slab', 'PT Sans', serif;
    line-height: 3rem;
    letter-spacing: 0.001em;
  }

  #contact {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 3%;
    color: #555;
  }

  #contact p {
    width: 100%;

    text-transform: uppercase;
    font: 55px 'FuturaPT', sans-serif;          
    letter-spacing: 0.27em;
  }

  #contactLinks {
    display: inline-block;
    list-style: none;
  }

  #contactLinks .icons {
    font: 16px 'Zilla Slab', 'PT Sans', serif;
    color: #444;
  }

  #contactLinks li {
    text-align: left;
    margin-top: 20px;
    margin-right: 32px;
  }

  #contactLinks .fa-linkedin, #contactLinks .material-icons {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    text-align: center;
    border-radius: 50%;
    background: #444;
    font-size: 25px;
    line-height: 2em;
    color: black;
    vertical-align: middle;
  }

  hr {
    width: 60%;
  }

  #up-button {
    position: relative;
    width: 100%;
    height: 100px;
    line-height: 3em;
    text-align: center;
    -webkit-animation-name: bounce;  
    -webkit-animation-duration: 1.9s;  
    animation-name: bounce;
    animation-duration: 1.9s;  
    animation-iteration-count: infinite;
    font-size: 50px;
  } 

  .fa-angle-up:link, .fa-angle-up:hover {
    text-decoration: none;
  }

  .fa-angle-up:visited {
    color: #444;
  }

  .fa-angle-up:hover {
    color: #3bc;
    opacity: 0.5;
  }

@-webkit-keyframes bounce {
  0%    {top: 0px;}
  50%   {top: 5px;}
  100%  {top: 0px;}
}

@keyframes bounce {
  0%    {top: 0px;}
  50%   {top: 5px;}
  100%  {top: 0px;}
}

@media (min-width: 1024px)
{
  .navi ul {
    display: block;
  }

}

@media (max-width: 1225px) 
{
  .navi ul {
    width: 35%;
  }
}

@media (max-width: 1060px) 
{
  .navi ul {
    width: 37%;
  }
}
/* smaller screens and devices, adjust screen layout */
@media (max-width: 1024px) 
{
  .navLogo {
    width: 100%;
    text-align: center;
    margin: 8px 0;
  }

  .navi ul {
    width: 100%;
    display: none;
  }

  #contactLinks ul {
    display: block;
  }

  #contactLinks li {
    margin-right: 0px;
  }

  .navi ul li {
    width: 100%;
    margin-bottom: 2px;
  }

  .navi ul li:hover {
    width: 100%;
    color: rgba(39,119,119);
    -webkit-transition: 0.26s;
    -moz-transition: 0.26s;
    -o-transition: 0.26s;
    transition: 0.26s;
    background: rgba(0,0,0,0.5);
    outline: rgba(100,100,100,0.7) solid 2px;
  }

  .navi ul li a {
    width: 100%;
    text-align: center;
  }

  #i-nav {
    display: block;
    position: absolute;
    top: 7px;
    right: 15px;
    width: 34px;
    height: 34px;

    border-radius: 100%;
    background: #333;
  }
  
  #i-nav:hover {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: transparent;
    border: #333 solid 1px;
  }

  .showNav {
    display: block;
  }

  .openNav {
    background: transparent !important;
    border: #333 solid 1px;
  }
  
/*  .mushu__video {
    display: none;
  }
*/
  .mushu {
     position: fixed;
     display: flex; /* clears whitespace btwn divs */
     font-size: 0; /* if flex unsupported */
     background-image: url("https://e2nguyen.github.io/mulan-50.png");
     background-size: cover;
  }

  #fallbackIMG {
    display: block;
    width: 100%;
    height:100%;
    margin: 0;
    position: fixed;
    background-size: cover;
  }

  .intro {
    position: relative;
    z-index: 2; /* parallax */
    background-color: rgba(0,0,0,0.87);
    padding: 2em 0;
  }

  #hey, #contact p {
    font-size: 30px;
  }

  .about p {
    font-size: 16px;
  }

}
